node_modules/
result/
chromedriver/
result.xlsx/
debug.log/
chromedriver_mac64.zip/
example.png/
ss.png/
ss1.png/
ss2.png/
.env
app/backend/uploads/*
!app/backend/uploads/upload.md
hotel-parity/
worker-agoda/
worker-traveloka/
worker-aladin/
worker-tiket/
worker-pegipegi/